#map {
    width: 100%;
    height: 400px;
}

#marker {
    background-image: url('/packages/img/place.png');
    width: 33px;
    height: 36px;
    position: absolute;
    background-size: cover;
}
.header {
    padding: 5px;
}
